<div class="sidebar">
  <button><span class="fa fa-plus-square-o fa-2x"></span>New</button>
  <button><span class="fa fa-cog fa-2x"></span>Settings</button>
  <ul>
    <li class="task"><i class="fa fa-moon"></i>sleep</li>
    <li class="task"><i class="fa fa-suitcase"></i> work</li>
    <li class="task"><i class="fa fa-food"></i>food</li>
    <li class="task"><i class="fa fa-social"></i>social</li>
    <li class="task"><i class="fa fa-camera-retro"></i> other</li>
  </ul>
</div>

<style>
  ul {
    list-style: none;
  }
  * {
    margin: 0;
    padding: 0;
    border: 1px solid black;
  }
</style>
